{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    Nova postagem
{% endblock %}

{% block content %}

    <div class="container-fluid">

        <div class="row justify-content-center my-4">
            <h1 class="py-3">Adicionar postagem</h1>
        </div>

        <div class="row justify-content-center my-4">

            <div class="col-sm-12 col-md-10 col-lg-8 col-xl-8">
                <form action="/add_post" method="POST" role="form" enctype="multipart/form-data">
                    {{ form.csrf_token }}

                    <div class="form-group my-1">
                        {{ wtf.form_field(form.titulo) }}
                    </div>
                    <div class="form-group my-1">
                        {{ wtf.form_field(form.texto, rows="10", cols="10", autocomplete="on",
                        spellcheck="true") }}
                    </div>
                    <div class="form-group my-1">
                        {{ wtf.form_field(form.imagem) }}
                    </div>
                    {{ wtf.form_field(form.submit, type="submit", class="btn btn-block btn-lg",
                            placeholder=form.submit.label.text) }}
                </form>
            </div>
        </div>
    </div>

{% endblock content %}
