{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    Cadastrar papel
{% endblock %}

{% block content %}
    <div class="container-fluid">

        <div class="row justify-content-center">

            <div class="col-sm-12 col-md-8 col-lg-6 col-xl-6 mx-4">

                <div class="col-12 my-4">
                    <h2 class="text-center display-6">Cadastrar papel</h2>
                </div>

                <form method="POST" role="form">
                    {{ form.csrf_token }}

                    {% if form.errors %}
                        {% for field in form %}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ field.label }}: {{ error }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    <div class="form-group">
                        {{ wtf.form_field(form.nome_funcao, form_type='inline',
                        class='form-control', placeholder=form.nome_funcao.label.text ) }}
                    </div>
                    <div class="form-group">
                        {{ wtf.form_field(form.enviar, form_type='inline', class='btn btn-lg
                        btn-block mt-3') }}
                    </div>
                </form>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mx-4">
                <div class="col-12 my-4">
                    <h2 class="text-center display-6">Papéis</h2>
                </div>

                <ul class="list-group">
                    {% for funcao in funcoes %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <h6>
                                {{ funcao.nome_funcao }}
                            </h6>
                            <a
                                href="{{ url_for('main.remover_funcao', funcao=funcao.nome_funcao) }}">
                                <h3><ion-icon class="text-dark" name="trash"></ion-icon></h3>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
{% endblock content %}
