{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    Editar post - {{ post.titulo }}
{% endblock %}

{% block content %}
    <div class="container-fluid">

        <div class="row justify-content-center my-4">
            <h1 class="py-3">Editar post</h1>
        </div>

        <div class="row justify-content-center my-4">

            <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10">
                <form action="/edit_post/{{ post.slug }}" method="POST" role="form" enctype="multipart/form-data">
                    {{ form.csrf_token }}

                    {% if form.errors %}
                        {% for field in form %}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ field.label }}: {{ error }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    <div class="form-group my-1">
                        {{ wtf.form_field(form.titulo) }}
                    </div>
                    <div class="form-group my-1">
                        {{ wtf.form_field(form.texto, rows="10", cols="10", autocomplete="on",
                        spellcheck="true") }}
                    </div>
                    <div class="form-group my-1">
                        {{ wtf.form_field(form.imagem) }}
                    </div>
                    {{ wtf.form_field(form.submit, type="submit", class="btn btn-block btn-lg",
                            placeholder=form.submit.label.text) }}
                </form>
            </div>
        </div>

    </div>
{% endblock content %}
