{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="container-fluid">

        <div class="row justify-content-center my-4">

            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Login</li>
                    </ol>
                </nav>

                <img src="{{ url_for('static', filename='img/f1-logo-red-on-white.png') }}"
                     alt="Logo F1" class="img-thumbnail mb-3" width="100%">
                <form method="POST" role="form">
                    {{ form.csrf_token }}

                    {% if form.errors %}
                        {% for field in form %}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ field.label }}: {{ error }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    <div class="form-group">
                        {{ wtf.form_field(form.nome_usuario, form_type='inline',
                        class='form-control', placeholder=form.nome_usuario.label.text ) }}
                    </div>
                    <div class="form-group">
                        {{ wtf.form_field(form.senha, form_type='inline', class='form-control',
                        placeholder=form.senha.label.text ) }}
                    </div>
                    <div class="form-group">
                        {{ wtf.form_field(form.sessao, form_type='inline', class="form-check-input") }}
                    </div>
                    <div class="form-group">
                        {{ wtf.form_field(form.enviar, form_type='inline', class='btn btn-lg
                        btn-block mt-3') }}
                    </div>
                </form>
                <h5 class="text-center p-4 font-weight-bold">
                    Não possui conta? <a href="{{ url_for('main.cadastro') }}">Cadastre-se</a>
                </h5>
            </div>
        </div>
    </div>
{% endblock content %}