{% extends 'base.html' %}

{% block title %}
    Erro
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center mx-4 my-4">
            <div class="col-sm-12 col-md-10 col-lg-6 col-xl-6 text-center">
                <div class="card py-lg-5 py-xl-5 my-lg-2 my-xl-2">
                    <h1 class='display-1'>
                        <ion-icon style="color: red;" name="alert"></ion-icon>
                    </h1>
                    <h4>A página solicitada não pode ser encontrada</h4>
                    <p>Código do erro: {{ status_code }}</p>
                    <p>{{ error }}</p>
                    <h6>
                        <a href="/">Voltar</a>
                    </h6>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
