{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    Cadastrar nova função
{% endblock %}

{% block content %}
    <div class="container-fluid">

        <div class="row justify-content-center">

            <div class="col-12 my-4">
                <h2 class="text-center display-6">Cadastrar nova função</h2>
            </div>

            <div class="col-sm-12 col-md-8 col-lg-6 col-xl-6">

                <form method="POST" role="form">
                    {{ form.csrf_token }}

                    {% if form.errors %}
                        {% for field in form %}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ field.label }}: {{ error }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    <div class="form-group">
                        {{ wtf.form_field(form.nome_funcao, form_type='inline',
                        class='form-control', placeholder=form.nome_funcao.label.text ) }}
                    </div>
                    <div class="form-group">
                        {{ wtf.form_field(form.enviar, form_type='inline', class='btn btn-lg
                        btn-block mt-3') }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
