{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="container-fluid h-100 w-100">

        <div class="row m-1 justify-content-center my-4">

            <div class="{% if posts | length < 2 %}col-xl-8 col-lg-8 col-md-10
                {% else %}col-xl-10 col-lg-10 {% endif %}col-sm-12">
                <ul class="list-group">
                    {% for post in posts %}
                        <a href="{{ url_for('.post_detail', slug=post.slug) }}" class="text-dark">
                            <li class="list-group-item my-2">

                                <div class="row align-items-center">
                                    <div class="col-xl-4 col-lg-4 my-sm-4">
                                         <img src="{{ url_for('static', filename=post.imagem) }}"
                                              class="card-img-top float-left w-100"
                                              alt="{{ post.slug }}">
                                    </div>

                                    <div class="col-xl-8 col-lg-8">
                                        <h3 class="flex-wrap">{{ post.titulo | wordwrap }}</h3>
                                        <p>Autor: <strong>{{ post.autor.nome_usuario }}</strong></p>
                                        {% if post.data %}
                                            <p>
                                                Postado em {{ post.data.day }}/{{ post.data.month }}/{{
                                                    post.data
                                            .year }} às {{ post.data.hour }}:{{ post.data.minute }}:{{
                                                    post.data.second }}
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>

                            </li>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
{% endblock content %}
