{% extends 'base.html' %}

{% block title %}
    Usuários
{% endblock %}

{% block content %}
    <div class="container-fluid">

        <div class="row justify-content-center my-4">
            <h1 class="py-3">Usuários</h1>
        </div>

        <div class="row justify-content-center my-4">

            <div class="col-sm-12 col-md-10 col-lg-8 col-xl-8">
                <ul class="list-group">
                    {% for usuario in usuarios %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <h5>
                                <a class="text-dark" href='/usuario/{{ usuario.nome_usuario }}'>
                                    {{ usuario.nome_usuario }}
                                </a>
                                {% if usuario.funcao %}
                                    ({{ usuario.funcao }})
                                {% endif %}
                            </h5>
                            {% if current_user.funcao.tem_permissao(64) %}
                                <a href="/editar/{{ usuario.nome_usuario }}">
                                    <h3><ion-icon class="text-dark" name="create"></ion-icon></h3>
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
{% endblock content %}
